:root {
  --mainBlue: #2a2a72;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --lightBlue: #009ffd;
}
body {
  font-family: "Oswald", sans-serif !important;
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}
.text-title {
  font-family: "permanent Marker", cursive;
  letter-spacing: 0.3;
  text-transform: uppercase;
}
.text-blue {
  color: var(--mainBlue);
}
.btn-black {
  background: "transparent";
  text-decoration: capitalize;
  font-size: 0.8 !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background-color: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}
.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
