  :root{
    --mainBlue:#2a2a72;
    --mainWhite:#f3f3f3;
    --mainDark:#232528;
    --maiYellow:#ffa400;
    --lightBlue:#009ffd;
  }
  body{
    font-family: "Oswald",sans-serif !important;
    background: var(--mainWhite) !important;
    color: var(--mainDark) !important;
  }
  .text-title{
    font-family: "permanent Marker",cursive;
    letter-spacing: 0.3;
    text-transform: uppercase;
  }
  .text-blue{
    color: var(--mainBlue);
  }
